.faq-content {
  padding: 96px 0 160px 0;
  .faq-title {
    border-left: 8px solid $border-title;
    font-size: $font-size-5xl;
    margin-bottom: 60px;
    padding-left: 16px;
  }
  .text-header {
    font-size: $font-size-3xl;
    margin-bottom: 36px;
  }
  .text-items h4 {
    font-size: $font-size-l;
    margin-bottom: 16px;
  }
  .text-items ul {
    padding-left: 95px;
    margin-bottom: 32px;
  }
}

@include pad {
  .faq-content {
    padding: 60px 39px 96px 39px;
    .faq-title {
      margin-bottom: 40px;
      border-left: 4px solid $border-title;
    }
    .text-header {
      margin-bottom: 32px;
    }
    .text-items ul {
      margin-bottom: 24px;
      padding-left: 60px;
    }
  }
}

@include mobile {
  .faq-content {
    padding: 28px 15px 56px 15px;
    .faq-title {
      font-size: $font-size-2xl;
      margin-bottom: 24px;
    }
    .text-header {
      font-size: $font-size-l;
      margin-bottom: 24px;
    }
    .text-items h4 {
      margin-bottom: 8px;
      font-size: $font-size-primary;
    }
    .text-items ul {
      font-size: $font-size-s;
      padding: 0;
    }
  }
}
