body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: $font-size-primary;
}
a {
  display: block;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h2,
h3,
h4 {
  font-weight: bold;
}
