// 間距
.mb-1 {
  margin-bottom: 8px;
}
// flex
.d-flex {
  display: flex;
}
.align-items {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content {
  justify-content: space-between;
}
.justify-content-fe {
  justify-content: flex-end;
}
.flex-direction {
  flex-direction: column;
}
.m0-auto {
  margin: 0 auto;
}
